:root {
	/* Primary colors */
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-des-cyan: hsl(167, 40%, 24%);
	--dark-blue: hsl(198, 62%, 26%);
	--dark-mod-cyan: hsl(168, 34%, 41%);

	/* Neutral colors */
	--dark-des-blue: hsl(212, 27%, 19%);
	--very-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);

	/* Typography */
	--font-size: 18px;
	--font-f-body: "Barlow", sans-serif;
	--font-f-heading: "Fraunces", serif;
	--font-w-semibold: 600;
	--font-w-bold: 700;
	--font-w-extrabold: 800;
	--font-w-black: 900;

	font-size: var(--font-size);
	line-height: 1;
}

body {
	font-family: var(--font-f-body);
	font-weight: var(--font-w-semibold);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-f-heading);
	font-weight: var(--font-w-bold);
}
a {
	text-decoration: none;
	color: inherit;
}

/*
 * Header
 */
.header {
	height: 538px;
	background-image: url(../images/mobile/image-header.jpg);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

/*
 * Navbar
 */
.header__navbar {
	display: flex;
	justify-content: space-between;
	padding: 32px 24px;
}
.navbar__logo {
	font-weight: var(--font-w-extrabold);
	color: var(--white);
}
.navbar__bars {
	height: 1rem;
	cursor: pointer;
}
.navbar__list {
	display: none;
}

/*
 * Hero
 */
.header__hero {
	text-align: center;
}
.hero__title {
	color: var(--white);
	text-transform: uppercase;
	font-weight: var(--font-w-black);
	font-size: 3em;
}

/*
 * About
 */
.about__img {
	width: 100%;
}
.about__body {
	padding: 3rem 1.5rem;
	text-align: center;
}
.about__title {
	margin-top: 0;
	font-size: 2rem;
	color: var(--dark-des-blue);
}
.about__text {
	color: var(--dark-grayish-blue);
	padding-bottom: 1rem;
}
.about__link {
	text-transform: uppercase;
	font-family: var(--font-f-heading);
	color: var(--dark-des-blue);
	display: inline-block;
	position: relative;
}
.about__link::after {
	content: "";
	display: block;
	width: calc(100% + 0.25rem);
	padding: 0.25rem;
	border-radius: 0.25rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -75%);
	opacity: 0.25;
}
.about__link.about__link--yellow::after {
	background-color: var(--yellow);
}
.about__link.about__link--red::after {
	background-color: var(--soft-red);
}

/*
 * Services
 */
.services__service {
	height: 86.5vh;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.services__service--graphic-design {
	background-image: url(../images/mobile/image-graphic-design.jpg);
	color: var(--dark-des-cyan);
}
.services__service--photography {
	background-image: url(../images/mobile/image-photography.jpg);
	color: var(--dark-blue);
}
.service__title {
	margin-top: 0;
}
.service__text {
	margin: 0 0 3rem;
	font-size: 16px;
	padding: 0 1rem;
}

/*
 * Testimonials
 */
.testimonials {
	padding-top: 4rem;
	text-align: center;
}
.testimonials__testimonial {
	margin-bottom: 4rem;
}
.testimonials__title {
	margin: 0 0 4rem;
	font-size: 1.25rem;
	text-transform: uppercase;
	color: var(--grayish-blue);
}
.testimonial__photo {
	width: 5rem;
	border-radius: 50%;
}
.testimonial__text {
	margin: 2rem 0;
	padding: 0 1.5rem;
	color: var(--very-grayish-blue);
}
.testimonial__name,
.testimonial__job {
	display: block;
}
.testimonial__name {
	margin-bottom: 1rem;
	font-family: var(--font-f-heading);
	font-weight: var(--font-w-black);
	color: var(--dark-des-blue);
}
.testimonial__job {
	color: var(--grayish-blue);
	font-size: 0.9rem;
}

/*
 * Gallery
 */
.gallery {
	display: flex;
	flex-direction: column;
}
.gallery__row {
	display: flex;
}
.gallery__img {
	width: 50%;
}

/*
 * Footer
 */
.footer {
	padding: 3rem 0;
	background-color: var(--dark-mod-cyan);
	text-align: center;
	color: var(--dark-des-cyan);
}
.footer__name {
	display: inline-block;
	margin-bottom: 2rem;
	font-size: 2rem;
}
.footer__links {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5rem;
}
.footer__social {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
	padding: 0 25vw;
}
.attribution__frontend-mentor {
	margin: 0 0 0.5rem;
}
.attribution__author {
	margin: 0;
}
.attribution__link {
	text-decoration: underline;
}
