:root {
	/* Primary colors */
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-des-cyan: hsl(167, 40%, 24%);
	--dark-blue: hsl(198, 62%, 26%);
	--dark-mod-cyan: hsl(168, 35%, 41%);

	/* Neutral colors */
	--dark-des-blue: hsl(212, 27%, 19%);
	--very-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);

	/* Typography */
	--font-size: 18px;
	--font-f-body: "Barlow", sans-serif;
	--font-f-heading: "Fraunces", serif;
	--font-w-semibold: 600;
	--font-w-bold: 700;
	--font-w-black: 900;
}

body {
	font-family: var(--font-f-body);
	font-size: var(--font-size);
}
a {
	text-decoration: none;
}

/*
 * Navbar
 */
.header__navbar {
	display: flex;
	justify-content: space-between;
	padding: 35px;
	background-color: skyblue;
}
.navbar__logo {
	color: var(--white);
}
.navbar__bars {
	cursor: pointer;
}
.navbar__list {
	display: none;
}
